@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
}
